.preview {
    /* background: linear-gradient(115deg, #538ad6, #86e7d6); */
    /* background: linear-gradient(115deg, #4ca1af, #c4e0e5); */
    background: url(sky.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}